In [1]:
print("class8")

class8

In [2]:
# zip transpose
mat = [[1,2,3],[4,5,6]]
zip(mat[0],mat[1])
for ite in zip(mat[0],mat[1]):
    print(ite)

(1, 4)
(2, 5)
(3, 6)

In [3]:
for ite in zip(*mat): # unpacking operstor - each row separate
    print(ite)

(1, 4)
(2, 5)
(3, 6)

In [4]:
# set
# collection of dissimilar objects
set1 = {} # gives dict
print(type(set1))

<class 'dict'>

In [5]:
set2= {100} # no need of comma
print(set2)

{100}

In [ ]:
set3 = set() # empty set
print(set3)

set()

In [10]:
set4 = {10.5, 22, "shubham", 1,345666,1,1}
print(set4) # unordered set - cant be index, cannot be sliced
# repetition not allowed

{1, 345666, 22, 10.5, 'shubham'}

In [11]:
for ele in set4:
    print(ele)  # can be iterable

1
345666
22
10.5
shubham

In [13]:
# sets are immutable
set6 = set4+set1 # gives error
print(set6)

TypeError: unsupported operand type(s) for +: 'set' and 'dict'

In [16]:
s1= {1,2,3,5,7}
s1.add(4)
s1.remove(1) # gives error ,if ele not there
s1.discard(2) # if ele not there, does not give error
print(s1)
s1.clear()
print(s1)

{3, 4, 5, 7}
set()

# how the set has been implemented
# 
# ordered set in python

In [ ]:
s2={1,1,2,3,4,5,6,7}
s3 = {1,4}
s2.update(s3) # s2 will get s3 ele
print(s2)
print(s3.issuperset(s2))
print(s3.issubset(s2))
print(s3.isdisjoint(s2))
print(s3<s2)           # what actually it is operating on?
print(s2==s3)

{1, 2, 3, 4, 5, 6, 7}
False
True
False
True
False

In [26]:
# set of set not allowed, can be done using frozenset
# set embedding is not allowed
# set unpacking * is allowed
print(*s2)

1 2 3 4 5 6 7

In [27]:
tup1= (1,2,3)
tup2 = (4,5,6)
setc= set()
setc.add(tup1)
print(setc)
setc.add(tup2)
print(setc) # set of tuple

{(1, 2, 3)}
{(1, 2, 3), (4, 5, 6)}

In [28]:
print(*setc)

(1, 2, 3) (4, 5, 6)

In [30]:
setb = {i  for i in range(10)}
print(setb)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
setc =set()
for a in range(10):
    setc.add(a)
print(setc)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
# a|=b
#a&=b
# a-=b
#b-=a
#a^=b

In [33]:
sa= {1,2,3}
sb={2,3,4,5}
sa|=sb
print(sa) # union

{1, 2, 3, 4, 5}

In [34]:
sa&=sb # intersection
print(sa)

{2, 3, 4, 5}

In [35]:
sa-=sb # remove b d=from a
print(sa)

set()

In [37]:
sa= {1,2,3}
sa^=sb # symmetric difference - remove common ele and add uncommon ele
print(sa)

{1, 4, 5}

In [38]:
# define two set of random number using set comprehensation, and try out the updating set operation

In [39]:
import random as r
a= {r.randint(1,100) for i in range(4)}

In [40]:
print(a)

{24, 56, 75, 91}

In [41]:
b= {r.randint(1,100) for i in range(5)}

In [42]:
print(b)

{1, 9, 45, 48, 62}

In [43]:
a^=b
print(a)

{1, 9, 75, 45, 48, 24, 56, 91, 62}

In [44]:
a-=b
print(a)

{75, 24, 56, 91}

In [45]:
a|=b
print(a)

{1, 9, 75, 45, 48, 24, 56, 91, 62}

In [46]:
a&=b
print(a)

{1, 9, 45, 48, 62}