In [1]:
print("class7")

class7

In [2]:
# tuple container - is a collection of heterogenous data types enclosed in ()
# tuple is immutable - cannot be changed
empty_tuple = ()
print(type(empty_tuple))

<class 'tuple'>

In [4]:
tup1= (1)
print(tup1)

1

In [5]:
tup2= (1,)
print(tup2)

(1,)

In [6]:
# difference b/t tup1 and tup2 is the comma at the end of tup2 which makes it a tuple
# if there is no comma, it is considered as an integer

In [7]:
# tuple is iterable
tup3= (1,2,3,4,5)
for ele in tup3:
    print(ele)

1
2
3
4
5

In [8]:
print(tup3[1:3])

(2, 3)

In [9]:
print(tup3[:4])

(1, 2, 3, 4)

In [11]:
# in a tuple , number of objects of each type is fixed
tup4= (1,2,3,4,5,1,2,3,4,5,"shubham")
print(type(tup4.count(1)))

<class 'int'>

In [13]:
tup5=(1,4,5)
# tup5[0]=3
# this will give an error as tuple is immutable

In [14]:
tup6 = tup4+ tup5
print(tup6)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 'shubham', 1, 4, 5)

In [17]:
# sort work on same data type

In [18]:
tup7= (4,2,4,1,5,3)
print(sorted(tup7))

[1, 2, 3, 4, 4, 5]

In [19]:
# function in list but not in tuple
# append, insert, remove, pop, clear, reverse, sort are not present in tuple
# count, index, len, max, min, sum, sorted are present in tuple

In [20]:
# tuple comprehensation
tup8= (i for i in range(10))
print(tup8) # this will give a generator object

<generator object <genexpr> at 0x107ab5e50>

In [21]:
# do list comprehension and then convert it to tuple
tup9= tuple(i for i in range(10))
print(tup9)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
tup10= (tup9, tup7)
print(tup10)

((0, 1, 2, 3, 4, 5, 6, 7, 8, 9), (4, 2, 4, 1, 5, 3))

In [24]:
# tuple embedded in tuple
tup11= (tup9, (1,2,3,4,5))
print(tup11)

((0, 1, 2, 3, 4, 5, 6, 7, 8, 9), (1, 2, 3, 4, 5))

In [25]:
# tuple unpacking using *
tup12= (1,2,3,4,5)
a,b,*c= tup12
print(a)
print(b)
print(c)

1
2
[3, 4, 5]

In [27]:
tup13= (tup12,tup7)
# unpacking of tuple of tuple
*a,b= tup13

print(a)
print(b)

[(1, 2, 3, 4, 5)]
(4, 2, 4, 1, 5, 3)

In [42]:
names = ("ram","raja","geetha","sita")
gender= ("male","male","female","female")
list3=[[]]
for i in range(len(names)):

    list3.append([names[i],gender[i]]) 


tuple2= tuple(list3)
print(tuple2)
tuple3= [(names[index],gender[index])for index in range(len(names))]
print(tuple3)

([], ['ram', 'male'], ['raja', 'male'], ['geetha', 'female'], ['sita', 'female'])
[('ram', 'male'), ('raja', 'male'), ('geetha', 'female'), ('sita', 'female')]

In [31]:
# zip function
# zip function is used to combine two or more iterables
# zip function returns a zip object 
# zip object is an iterator of tuples where the first item in each passed iterator is paired together

In [32]:
ite= zip(names,gender)
print(*ite) # this will give a zip object which is an iterator of tuples where the first item in each passed iterator is paired together

('ram', 'male') ('raja', 'male') ('geetha', 'female') ('sita', 'female')

In [35]:
for ite in zip(names,gender):
    print(*ite) 
# there is an ite built in print function which is used to unpack the tuple
#ite ->next() will give the next tuple

ram male
raja male
geetha female
sita female

In [36]:
# difference b/t both print statements
# in first print statement, it is printing the zip object
# in second print statement, it is printing the elements of the zip object

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
transpose = []

transposed_matrix = zip(*matrix)

for row in transposed_matrix:
  transpose.append(list(row))

print(transpose)  # Output: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

transposed_matrix = [list(row) for row in zip(*matrix)]

print(transposed_matrix)